# Node dependencies
node_modules
dist
build

# Environment variables
.env
*.env

# API Secrets (CRITICAL: Do not push these to GitHub!)
credentials.json
token.json
firebase-service-account.json
aliclaw-memory-firebase-adminsdk-fbsvc-a3369a046f.json

# Local Databases
*.db
*.sqlite
*.sqlite3

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
Thumbs.db
